/* fulgor 05 */

#layout, #sbr	{ background-color: transparent; }
#sbr .vbr	{ margin: 0 0 6px 0; }
#header		{ padding: 60px 0 80px 0; color: #333; background: transparent; }
.qs			{ border-color: #666; }
.qs .q, .qs .placeholder	{ color: #666; }
.popDlg, .pad	{ border-color: #333; }
.topicView .row.active, .menu a.active, .menu span.active, .cascade h3.active	{ background-color: #D26F80; }
.commentView .btn,
.topicView .row:hover, .menu a:hover, .menu span:hover	{ background-color: #D8818F; }

body		{ color: #000; background: #b40a27 url(05.jpg) no-repeat center top; }
a			{ color: #5C1D28; }
#owner		{ color: #f9f2f4; }
.box, #sbr .vbr	{ border: 1px solid #D55C71; background: #C44158; }
.box .cap		{ color: #fff; background: #B43950; }
