/* view 10 */
.blogBody{
	width:100%;
	background:#EAF7FD  url(13.jpg) no-repeat center top;
}
.header-top {background: #EAF7FD;border-bottom:0px;}
.footer_styles {
	background: #EAF7FD !important; 
}
.footer_style {
	background: #EAF7FD !important; 
}

.blogHead,.tj{color: #376043;}
/* .tj{
	padding-bottom:90px;
} */
#ftitle1{
	color: #376043;
}
.cap{
    color: #000;
    background: #def7ff;
}
.blogBody .user-center-left .user-menu-links, .blogBody .personCenter-userInfo, .blogBody .user-center-left .user-setting {
   background: #F5FFFD;
} 

.blogBody .user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.blogBody .user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.blogBody .user-menu-links li a em {
     background: transparent; 
}
.blogBody .user-menu-links li.on a em {
   background: transparent; 
}
.blogBody .user-menu-links li a {
	color: #666666;
}
.blogBody .user-menu-links li a:hover {
	color:#0070b8;
}
#_goPs{
	background: transparent;
}
.tggl .tggl-top {background: transparent;}
body, button, input, select, textarea { background: transparent;}
.tggl a {color:#666666;}
.a2{color:#666666;}
.inp2{color:#666666;}
.tggl td{border-color:#808080;}
.tggl table{border-color:#808080;}
.tggl-top{background:transparent;}
.st_tree ul li a:hover {color:#0070b8;}
.htmleaf-container .mtree-demo .mtree {
  background: #F5FFFD;
  margin: 20px auto;
  max-width: 320px;
  border-radius: 3px;
}	
.footer-content{padding-top: 30px;color: #000;font-size: 14px;text-align: center;}
.f2{
	color:#676262 !important;
}
#queryTitle{
	  border:1px solid #def7ff !important;
	  color: #000 !important;
}
.submit{
	background:#def7ff !important;
	color: #000 !important;
} 
.topicList a {
    color: #666666 !important;
}
