/* theme: http://wpthemecity.com/demo/?KeepThis=true */
html, body	{ margin: 0; padding: 0; border: 0; color: #000; }
body		{ font-family: "Microsoft YaHei",Tahoma,Verdana,Arial,Helvetica; font-size: 12px; line-height: 180%; }
img			{ border: 0; }
ul			{ margin: 0 0 0 20px; padding: 0; }
p			{ margin: 0; padding: 0; }
a			{ color: #06243A; text-decoration: none; }
a:hover		{ color: #BA2636; text-decoration: underline; }

.clr		{ height: 0; clear: both; font-size: 0; line-height: 0; }
.xl			{ font-size: 14px; }
.hi			{ color: #BA2636; }
.lo			{ color: #999; }
.hot		{ color: #1E50A2; border-bottom: 1px dotted #07243B; text-decoration: none; }
.hide		{ display: none; }

input, textarea, select, button	{ font-size: 12px; }
textarea		{ line-height: 150%; }
button			{ height: 26px; width: 80px; line-height: 100%; }
form			{ margin: 0; }
form div		{ margin: 6px 0; }
form span		{ width: 80px; padding-right: 8px; text-align: right; float: left; }
form div.em		{ padding-left: 88px; }
form div.cb		{ text-align: right; }
form button		{ margin-right: 8px; }
form .cb button	{ margin-left: 8px; margin-right: 0; }

/* components */
.popDlg				{ top: 0; border: 2px solid #333; background: #fff; position: absolute; z-index: 999; }
.popDlg .d-cap		{ padding: 0 16px; height: 12px; text-indent: -100em; font-weight: bold; line-height: 28px; white-space: nowrap; overflow: hidden; cursor: move; }
.popDlg .d-inn		{ padding: 6px 16px 12px 16px; background: #fff; overflow: auto; /*position: relative;*/ }
.popDlg .d-btn		{ padding: 6px 10px; text-align: right; }
.popDlg .d-btn button	{ margin: 0 0 0 16px; }
.popDlg button			{ border: 1px solid #ccc; color: #000; background-color: #fff!important; vertical-align: middle; display: inline-block; }
.popDlg button:hover	{ background-color: #ddd!important; }

.burn			{ bottom: 10px; right: 10px; width: 120px; padding: 8px; border: 2px solid #333; background:#fff; position: fixed; z-index: 888; }
.burn-mark		{ cursor: help; }

/* layout */
body		{ background: #E0EDF4; }

#header		{ background: #07243B; line-height: 35px; }
#header-w	{ margin: 0 auto; width: 960px; height: 35px; color: #fff; background: #27445B; }
#navi		{ float: left; }
#navi a		{ padding: 0 12px; color: #fff; border-right: 1px solid #47647B; text-decoration: none; float: left;  }
#navi a:hover	{ background: #07243B; }

#brand		{ width: 260px; height: 35px; background: #7BA3C9; float: right; }
#search		{ margin: 5px 8px; height: 20px; background: #fff; }
#search .searchbox	{ padding: 2px 0 0 0; width: 210px; border: 0; float: left;  background: #fff url(google.gif) left no-repeat; }
#search .searchweb	{ margin-left: 4px; width: 24px; height: 20px; border: 0; background: #fff url(search.png) no-repeat center center; float: left; }

#layout		{ margin: 0 auto; width: 960px; }
#banner		{ height: 150px; background: url(banner.jpg) no-repeat; }

.menu			{ margin: 0; padding: 0 10px; height: 35px; line-height: 35px; color: #fff; background: #27445B; position: relative; z-index: 999; list-style: none; }
.menu li		{ width: 92px; height: 100%; border-right: 1px solid #47647B; float: left; position: relative; cursor: pointer; }
.menu li.rc		{ background-image: none; }
.menu li span	{ text-align: center; display: block; }
.menu li:hover, .menu li.hover	{ background: #07243B; }
.menu li:hover .pad, .menu li.hover .pad	{ display: block; }
.menu .pad		{ padding: 8px; border: 1px solid #47647B; color: #fff; background: #27445B; display: none; position: absolute; cursor: default; }
.menu .pad dl	{ margin: 0; padding: 0; width: 168px; line-height: 150%; float: left; }
.menu .pad dl.moo	{ margin-right: 10px; border-right: 1px dotted #999; }
.menu .pad dt	{ font-weight: bold; }
.menu .pad dd	{ margin: 0; padding: 0 0 0 16px; }
.menu .pad.col2	{ width: 347px; }
.menu .pad.col3	{ width: 526px; }
.menu .pad.col4	{ width: 705px; }
.menu .pad.rtl	{ left: -94px; }
.menu .pad.rtl2	{ left: -200px; }
.menu .pad a	{ color: #fff; }

#inner		{ padding: 0 10px; background: #fff; }

#main			{ margin-top: 8px; width: 655px; float: left; }
#feature-mask	{ width: 652px; height: 250px; border: 1px solid #ddd; background: #fff; position: relative; overflow: hidden; }
#feature		{ padding: 10px; position: absolute; }
#feature div	{ width: 632px; height: 250px; overflow: hidden; }
#feature-handle			{ height: 22px; text-align: right; }
#feature-handle span	{ margin-left: 2px; padding: 0 5px; color: #fff; background: #7BA3C9; cursor: pointer; }
#feature-handle span.active, #feature-handle span:hover{ background: #07243B; }
#feature h2		{ margin: 0; padding: 0 0 8px 0; font-size: 16px; }
#feature p		{ margin: 0; padding: 0; }
#feature img.hp	{ width: 200px; height: 230px; float: right; margin: 0 0 0 6px; }
#feature img.ar	{ float: right; margin: 0 0 0 6px; }

#sidebar	{ margin-top: 8px; width: 260px; float: right; }
.widget		{ margin-bottom: 8px; border: 0; background: #fff; height: 100%; }
.widget	h3	{ margin: 8px 0; padding: 0 8px; height: 26px; color: #fff; background: #7BA3C9; font-size: 12px; line-height: 26px; border-radius: 5px 5px 0 0; }
.widget .box	{ margin: 0; padding: 6px 8px; }
.widget h3 a	{ color: #fff; font-size: 12px; font-weight: normal; float: right; }
.widget dl	{ margin: 0; padding: 0; }
.widget dd	{ margin: 0; padding: 2px 8px 2px 24px; }

.thumb		{ margin: 0 6px 4px 0; text-align: center; float: left; }

ul.tab		{ margin: 0; padding: 0; height: 26px; border: 1px solid #7BA3C9; color: #7BA3C9; line-height: 26px; list-style: none; }
ul.tab a	{ color: #7BA3C9; }
ul.tab li	{ padding: 0 16px; border-right: 1px solid #7BA3C9; float: left; cursor: default; position: relative; }
ul.tab li.cur	{ top: 0px; color: #fff; background: #7BA3C9; }
ul.tab li.cur a	{ color: #fff; }

#footer		{ height: 35px; background: #07243B; line-height: 35px; }
#footer div	{ margin: 0 auto; width: 960px; color: #fff; background: #27445B; text-indent: 2em; }

.header-w .search-bar{
    float: right;
    position: relative;
    width: 232px;
    height: 24px;
    margin-left: 15px;
    margin-top: 4px;
}
.header-w .search-bar input{
    width: 220px;
    padding: 2px 5px;
    height:22px;
    border:1px solid #0b91df;
    background: #f6fbff;
    color: #999;
}
.header-w .search-bar input:focus{
    border:1px solid #0b91df;
    background: #fff;
}
.search-btn1{
    position: absolute;
    right:194px;
    top:7px;
    width: 20px;
    height:20px;
    background: url(search.png) no-repeat;
    cursor: pointer;
}
.searchCon{
	float: right;
	margin-top: 8px;
}
.page-large{margin:40px 0 20px; text-align:center;}
.page-large a{width:34px; height:34px; display:inline-block; border:1px solid #d5d5d5; box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -webkit-box-sizing:border-box; line-height:34px; text-align:center; float:left; text-indent:0; color:#666666; font-size:12px; font-family:Arial, Helvetica, sans-serif; margin:0 3px;}
.page-large a.on{border:1px solid #ef3838; background:#ef3838; color:#fff;}
.page-large a.none{border:none;}
.page-large .Num:hover{border:1px solid #ef3838; color:#ef3838;}
.page-large .on:hover{border:1px solid #ef3838; color:#fff;}
.login-user{float:left; line-height:30px; margin-left:20px; padding-right:14px; color:#979797; font-size:12px; position:relative; cursor:pointer;}
.login-user a{z-index:4; position:relative; display:inline-block;}
.login-user img{width:30px; height:30px; float:left; margin-right:5px; border-radius:100%; -moz-border-radius:100%; -o-border-radius:100%; -webkit-border-radius:100%;}
.login-user:before{z-index:4; content:''; position:absolute; display:inline-block; width:6px; height:5px; right:0; top:14px; }
.user-child{display:none; top:15px; width:100%; background-color:rgba(255,255,255,0.9); position:absolute; padding:16px 0 8px; z-index:3; box-shadow:0 2px 5px rgba(34,25,25,.4); -moz-box-shadow:0 2px 5px rgba(34,25,25,.4); -webkit-box-shadow:0 2px 5px rgba(34,25,25,.4);}
.login-user:hover .user-child{display:block;}
.user-child a{width:100%; display:block; line-height:24px; text-align:center; font-size:14px;}
.showComment{
	display:block;
	background:#f00;
	border-radius:50%;
	width:6px;
	height:6px;
	top:2px;
	right:0px;
	position:absolute;
}
.fl{margin-top:0px; font-size:12px; color:#b7b7b7;}
.ch{float:left;}
.ch em{margin-left:20px;}
.report-list1 {
    border-top: 1px solid #e6ebf0; }
.report-list1.sm {
    border-top: 0 none; }
.report-list1.sm .report-text h3 {
    font-size: 18px !important;
    font-weight: 700 !important;
    color: #666 !important; }
.report-list1.sm .report-text p {
    width: 520px; }
.report-list1 li {
    float: none; }
.report-list1 li a {
    position: relative;
    display: block;
    padding: 20px 0;
    border-bottom: 1px solid #e6ebf0;
    font-family: "MicroSoft YaHei";
    transition: padding 300ms; 
    height:150px;}
.report-list1 li a .report-text {
    width: 1000px; }
.report-list1 li a .report-text h3 {
    font-size: 18px;
    padding-bottom: 12px;
    color: #666; }
.report-list1 li a .report-text p {
    color: #999; }
.report-list1 li a .arrowBtn {
    position: absolute;
    right: 10px;
    top: 50%;
    display: block;
    width: 48px;
    height: 48px;
    margin-top: -24px;
    font-size: 48px;
    color: #c5c5c5;
    background: url(images/list-right-arr_01.png) no-repeat;
}
.report-list1 li a:hover {
    padding-left: 20px;
    background-color: #f7f4ed; }
.report-list1 li a:hover .report-text h3 {
    color: #ed4800 !important; }
.report-list1 li a:hover .report-text p {
    color: #333; }
.report-list1 li a:hover .arrowBtn {
    background: url(images/list-right-arr_02.png) no-repeat;
}
.report-list1 li a.hasImg img {
    width:160px; height:135px; float:left; display:block; position:relative; margin-right:20px; overflow:hidden;}

.report-list1 li a.hasImg .report-text {
    float: left;
    width: 846px;
    padding-top: 5px;
    padding-left: 30px; }
.report-list1 li a.hasImg .report-text h3 {
    font-size: 26px;
    font-weight: 400;
    color: #333; }
.report-list1.sp {
    border-top: 0 none; }
.report-list1.sp li a .report-text h3 {
    font-size: 18px;
    font-weight: 700;
    color: #666; }