/* rev 171209, (c) ghljj.com */

/* line-height: normal = 1.14 */
html, body		{ margin: 0; padding: 0; border: 0; }
body			{ font-family: "Microsoft YaHei",Arial; font-size: 14px; line-height: 200%; }
h1, h2, h3, h4, h5, h6 { margin: 0; padding: 12px 0; line-height: 180%; font-weight: normal; }
h1				{ font-size: 32px; }
h2				{ font-size: 24px; }
h3, h4, h5, h6	{ font-size: 16px; }
table			{ border-collapse: collapse; border: 1px solid #666; }
td				{ padding: 4px 6px; border: 1px solid #666; text-align: center; }
thead			{ background: #eee; text-align: center; }
hr				{ height: 0px; border: 1px solid #ccc; border-width: 1px 0 0 0; color: #666; }
img				{ border: 0; vertical-align: middle; max-width: 100%; }
blockquote		{ margin: 10px 0; padding: 0 0 0 10px; border-left: 4px solid #999; }
blockquote small	{ color: #999; }
a				{ color: #2152AC; text-decoration: none; }
a:hover			{ color: #255EC7; text-decoration: none; }
ul				{ margin: 0; padding: 0 0 0 2em; list-style: square; }
p				{ margin: 0; }

input, textarea, select, button	{ font-family: "Microsoft Yahei",Arial; font-size: 14px; vertical-align: middle; /*Chrome*/margin: 0; }
input			{ padding: 6px 8px; border: 1px solid #ccc; }
select			{ padding: 6px 8px; }
textarea		{ padding: 6px 8px; border: 1px solid #ccc; line-height: 180%; }
input:focus, textarea:focus	{ border-color: #5c5c5c; }
input[type=file], button::-moz-focus-inner	{ border: 0; padding: 0; margin: 0; }
button			{ margin-right: 10px; padding: 0.1em 1.8em; border: 0; color: #212121; background: #ccc; line-height: 200%; cursor: pointer; /*IE7*/overflow: visible; }
button:hover	{ background-color: #ddd; }
label			{ margin-right: 8px; display: inline-block; }
form			{ margin: 0; }
.f-chk, label input	{ border: 0; padding: 0; }
.f-row			{ margin: 0; padding: 4px 0; }
.f-bow			{ margin-top: 20px; margin-bottom: 20px; }
.f-leg			{ width: 80px; display: inline-block; }
.f-err			{ background-color: #fcc; border-color: #c00; }
.f-def			{ color: #fff; background-color: #0072C6; }
.f-def:hover	{ background-color: #1E82CC; }
.fs-i			{ padding: 8px; width: 100%; box-sizing: border-box; }
.fs-b			{ margin: 0; padding: 4px; width: 100%; box-sizing: border-box; }

.clrfix		{ clear: both; }
.clr		{ clear: both; font-size: 0; line-height: 0; height: 0; }
.xxt		{ font-size: 22px; }
.xt			{ font-size: 16px; }
.lt			{ font-size: 12px; }
.hi			{ color: #c00; }
.lo			{ color: #999; }
.hot1		{ color: #006400; }
.hot2		{ color: #8B0000; }
.hot3		{ color: #FF4500; }

/* iconfont */
@font-face {
	font-family: "wifont";
	src: url('font/iconfont.eot'); /* IE9 */
	src: url('font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('font/iconfont.woff') format('woff'), /* chrome, firefox, remeber MIME config */
	url('font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
	url('font/iconfont.svg') format('svg'); /* iOS 4.1- */
}
.wi, .wib {
	font-family: "wifont";
	font-size: 26px; /* 22px */
	font-style: normal;
	vertical-align: middle;
	/*-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;*/
}

/* components */
.posting			{ position: relative; }
.posting::before	{ left: 0; bottom: 1px; width: 100%; height: 2px; background-color: rgba(250,104,0,.8); position: absolute; z-index: 999; content: ''; animation: k1 5s 3 ease-in-out; }
.loading			{ left: 0; top: 0; width: 100%; height: 2px; background-color: rgba(250,104,0,.8); position: fixed; z-index: 999; animation: k1 5s 3 ease-in-out; }
@keyframes k1	{
	0% { width: 0; } 
	100% { width: 100%; }
}
.posting2			{ background-image: url(loader.gif); background-repeat: no-repeat; background-position: 4px center; }
.loading2			{ right: 50px; bottom: 50px; margin: 0 auto; height: 20px; width: 30px; position: fixed!important; position: absolute; background: url(loader.gif) no-repeat center center; z-index: 999; }
.placeholder		{ padding: 3px 8px; color: #888; white-space: nowrap; cursor: text; position: absolute; }

.stick-dlg	{ left: 0; top: 0; margin: 6px 0 0 0; padding: 6px 12px; color: #fff; background: #F8991E; font-size: 14px; line-height: 150%; text-align: left; white-space: nowrap; position: absolute; z-index: 800; }
.stick-ptl	{ left: 12px; top: -6px; width: 0; height: 0; border-color: transparent transparent #F8991E transparent; border-style: dashed dashed solid dashed; border-width: 0 6px 6px 6px; display: block; position: absolute; font-size: 0; line-height: 0; }
.stick-ptr	{ left: auto; right: 12px; }
.stick-bow	{ padding: 10px 0 4px 0; }
.stick-btn	{ margin: 0; border: 1px solid #fff; color: #fff; background-color: #F8991E; }
.stick-spt	{ margin: 0 8px 0 0; }
.stick-btn:hover	{ background-color: #0072C6; }
.stick-i	{ border: 0; border: 1px solid #fff; color: #fff; background: #F8991E; }
.stick-t	{ border-color: #fff; font-size: 12px; white-space: normal; }

.pop-dlg	{ border: 2px solid #0072C6; background: #fff; position: absolute; z-index: 880; }
.pop-cap	{ padding: 0 16px; height: 12px; text-indent: -100em; font-weight: bold; line-height: 28px; white-space: nowrap; overflow: hidden; cursor: move; }
.pop-inn	{ padding: 6px 16px 12px 16px; background: #fff; overflow: auto; /*position: relative;*/ }
.pop-bow	{ padding: 6px 10px; text-align: right; }
.pop-btn	{ margin: 0 0 0 16px; border: 1px solid #ccc; color: #000; background-color: #fff; display: inline-block; }
.pop-btn:hover		{ background-color: #ddd; }

.up-i		{ left: 0; padding: 0; height: 30px; width: 80px; font-size: 12px; position: absolute; cursor: pointer; }
.up-btn		{ padding: 0; width: 80px; border: 1px solid #ddd; background-color: #fff; }
.up-step1	{ position: relative; }
.up-pmt		{ height: 24px; font-size: 12px; line-height: 24px; overflow: hidden; }
.up-thumb	{ margin: 8px 0 0 0; }
.up-img		{ margin: 0 8px 8px 0; width: 50px; height: 50px; display: inline-block; cursor: pointer; }

.page-more	{ margin: 20px auto; width: 60%; padding: 10px 0; text-align: center; color: #fff; background: #FA6800; cursor: pointer; border-radius: 6px; }
.paging		{ padding: 0px 0px 20px 0px; }
.paging-leg	{ padding: 8px 0; }
.paging-btn	{ margin: 0 4px 0 0; padding: 0 8px; height: 26px; line-height: 26px; border: 1px dotted #aaa; color: #000; outline: none; float: left; display: block; cursor: pointer; }
.paging-cur	{ color: #fff; background: #0072C6; border-color: #0072C6; text-decoration: none; }
.paging-i	{ margin: 0; padding: 0 3px; width: 36px; height: 26px; line-height: 26px; border: 1px dotted #aaa; /*vertical-align: baseline;*/ float: left; }

.annotate	{ position: relative; z-index: 100; }
.an-note	{ color: #fff; background: #FF7D23; line-height: 150%; cursor: pointer; position: absolute; }
.an-new		{ background: #43A102; }
.an-flag	{ padding-top: 2px; width: 20px; height: 20px; font-size: 18px; text-align: center; vertical-align: top; display: inline-block; }
.an-text	{ width: 180px; padding: 6px 8px; font-size: 12px; cursor: move; display: inline-block; }
.an-edit	{ width: 151px; height: 50px; border-color: #fff; white-space: normal; }

.comment	{ overflow: hidden; }	/* IE: why? */
.cv-cap		{ font-size: 24px; border-bottom: 1px solid #ccc; }
.cv-row		{ padding: 12px 8px; border-bottom: 1px dotted #ccc; overflow: hidden; clear: both; }
.cv-inn		{ margin-left: 68px; }
.cv-lbl		{ margin: 0 0 0 12px; font-size: 12px; float: right; }
.cv-lbt		{ margin: 0 0 0 12px; font-size: 12px; float: right; padding: 0px 12px; color: #333; background-color: #f1f1f1; cursor: pointer; }
.cv-lbt:hover	{ background-color: #999; color: #fff; }
.cv-board	{ padding: 12px 0; }
.cv-txt		{ width: 380px; height: 80px; }

.table-view			{ margin: 6px 0 6px 0; font-size: 12px; cursor: default; }
.table-view td		{ border-style: dotted; }
.tv-row:nth-child(2n)	{ background: #fafafa; }
.tv-row-holder		{ background-color: #eee; cursor: pointer; }
.tv-row-on			{ background-color: #ffffd5; }
.tv-row-selected	{ background-color: #ffffe1!important; border: 1px solid #000; }
.tv-row-actived		{ background: #ffffe1!important; }

.winbox			{ padding: 30px 10px 10px 10px; border: 2px solid #666; background: #fff; position: absolute; z-index: 200; cursor: move; }
.winbox-frame	{ width: 100%; height: 100%; border: 0; }
.winbox-close	{ top: 0; right: 0; width: 45px; height: 30px; color: #000; text-align: center; line-height: 30px; position: absolute; cursor: pointer;}
.winbox-close:hover	{ background-color: #E81123; color: #fff; }

.gtop			{ bottom: 20px; right: 20px; width: 50px; height: 50px; line-height: 50px; text-align: center; color: #fff; background: #666; position: fixed!important; position: absolute; z-index: 900; cursor: pointer; }
.gtop:hover		{ background-color: #999; }

.exp-cap		{ margin: 6px 0 0 0; padding: 4px 28px 4px 6px; font-size: 16px; font-weight: normal; cursor: pointer; /*171209*/ overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.exp-cap:before	{ font-family: "wifont"; font-size: 22px; vertical-align: middle; content: '\e621'; }
.exp:before		{ content: '\e622'; }
.section		{ border-left: 1px solid #fff; }
.section-inn	{ padding: 0 0 12px 28px; }
.section:hover	{ border-color: #ccc; }

.slide-mask	{ left: 0; top: 0; right: 0; bottom: 0; background: #000; opacity: 0.2; position: fixed; z-index: 1000; }
.slide-pad	{ left: 0; top: 0; right: 120px; bottom: 0; background: #fff; position: fixed; z-index: 1001; overflow: auto; animation: slideFromLeft 0.25s ease-out; }
@keyframes slideFromLeft	{
	from { transform: translateX(-100%); } 
}

.sx-box		{ border: 1px solid #ccc; height: 250px; overflow: hidden; position: relative; }
.sx-page	{ width: 100%; height: 250px; overflow: hidden; position: absolute; }
.sx-title	{ left: 0; bottom: 0; right: 0; padding: 6px; font-size: 12px; line-height: 180%; text-align: center; color: #fff; background: rgba(100, 100, 100, 0.5)!important; background: #aaa; position: absolute; z-index: 10; }
.sx-btn		{ margin: 0 2px; width: 20px; height: 20px; background: #ccc; color: #fff; line-height:20px; font-size:12px; display: inline-block; border-radius: 10px; cursor: pointer; }
.sx-btn.active, .sx-btn:hover	{ background: #c00; }
.sx-btns	{ padding: 8px; text-align: center; }
.sx-out		{ animation: rotatePushTop .5s both ease-in; }
.sx-in		{ animation: rotatePullBottom .5s both ease-in; }
@keyframes rotatePushTop {
	from { }
	to { opacity: 0; transform: rotateY(-90deg); }
}
@keyframes rotatePullBottom {
	from { opacity: 0; transform: rotateY(90deg); }
}

/* elements */
/*.ct-fromRight	{ animation: moveFromRight .5s ease both; }
.ct-toLeft		{ animation: moveToLeft .5s ease both; }
.ct-fromLeft	{ animation: moveFromLeft .5s ease both; }
.ct-toRight		{ animation: moveToRight .5s ease both; }*/
@keyframes moveFromRight {
	from { transform: translateX(100%); }
}
@keyframes moveToLeft {
	from { }
	to { transform: translateX(-100%); }
}
@keyframes moveFromLeft {
	from { transform: translateX(-100%); }
}
@keyframes moveToRight { 
	from { }
	to { transform: translateX(100%); }
}

.qs			{ height: 32px; border: 1px solid #ccc; background: #fff; }
.qs-i		{ width: 150px; border: 0; /*float: left; IE7: float break placeholder */ }
.qs-go		{ padding: 0; width: 28px; height: 30px; line-height: 32px; border: 0; color: #999; background-color: #fff; float: right; cursor: pointer; /*ios*/-webkit-appearance: none; }

.avatar		{ margin: 0 auto; width: 50px; height: 50px; border: 1px solid #ddd; background: #eee no-repeat; display: block; }
.card		{ width: 80px; text-align: center; }
.card-lbl	{ font-size: 12px; line-height: 150%; color: #000; display: block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.pad			{ border: 2px solid #000; background: #fff; display: none; position: absolute; z-index: 999; }
.mi0			{ padding: 4px 28px; color: #000; }
.mi1			{ padding: 4px 28px; color: #000; display: block; cursor: pointer; }
.mi1.active		{ background-color: #dfdfdf; }
.mi1:hover		{ background-color: #e7e7e7; color: #000; }
.mi2cap			{ padding: 0 12px 10px 12px; color: #000; font-size: 22px; }
.mi2spt			{ margin: 8px 10px; border-top: 1px solid #999; font-size: 0; line-height: 0; display: block; clear: both; }
.mi2btn			{ margin: 2px 2px; width: 25px; height: 25px; display: inline-block; cursor: pointer; }
.mi2			{ padding: 5px 12px; color: #000; display: block; cursor: pointer; }
.mi2.active		{ background-color: #005797; color: #fff; }
.mi2:hover		{ background-color: #0072C6; color: #fff; }
.mi5			{ padding: 8px 12px; color: #fff; font-weight: normal; vertical-align: middle; display: inline-block; cursor: pointer; }
.mi5bar			{ right: 0px; padding: 0 56px 0 6px; height: 50px; background: no-repeat right top; border: 1px solid; border-width: 0 1px 1px 0; color: #fff; position: absolute; }
/*.mi5pot			{ vertical-align: middle; display: inline-block; }
.mi5bar			{ right: 0px; padding: 0 6px 6px 6px; color: #fff; position: absolute; }*/

.vbr			{ padding: 6px 0; }
.vbr-pin		{ padding: 6px 0 0 6px; border: 2px solid #000; background: #fff; z-index: 900; }
.vbr-pin .tp2	{ background-color: #fff; }
.tbr			{ height: 50px; color: #fff; background: #0072c6; }
.tb1			{ margin: 0 2px 0 0; padding: 0 12px; height: 50px; line-height: 50px; font-weight: normal; color: #fff; cursor: pointer; /*float: left;*/ display: inline-block; vertical-align: middle; }
.tb1.active		{ background-color: #005797; }
.tb1:hover		{ background-color: #0064ae; color: #fff; }
.tb1fr			{ margin: 0 0 0 2px; float: right; }
.tb-nav			{ padding: 0 16px; float: left; border-right: 1px solid rgba(255, 255, 255, 0.3); }
.tb-app			{ margin-right: 16px; padding-right: 14px; font-size: 26px; height: 50px; border-right: 1px solid rgba(255, 255, 255, 0.3); float: left; display: inline-block; }
.tbc			{ padding: 0 16px; font-size: 18px; line-height: 50px; font-weight: normal; /*float: left;*/ }
.tb2, .tp2		{ margin: 0 6px 6px 0; /*padding: 4px 12px;*/ padding: 0 12px; height: 38px; line-height: 38px; color: #333; background-color: #f1f1f1; font-weight: normal; cursor: pointer; display: inline-block; vertical-align: middle; }
.tb2:hover, .tb2.active, .tp2:hover, .tp2.active	{ background-color: #999; color: #fff; }
.tb3			{ margin: 0 10px 10px 0; width: 80px; height: 68px; line-height: 160%; color: #000; background-color: #cbcbcb; font-weight: normal; display: inline-block; vertical-align: top; cursor: pointer; }
.tb3.active		{ outline: #fff solid 2px; }
.tb3:hover		{ outline: #aaa solid 2px; }
.tb-spt			{ margin-right: 20px; }
.tb-more		{ padding-right: 0; }
.wib			{ margin-right: 8px; }

.ftr		{ float: right; }
.ftl		{ float: left; }
.ptr		{ cursor: pointer; }

.mce-sbr	{ left: 0; top: 0; width: 240px; background: #f1f1f1; }
.mce-pan	{ left: 240px; top: 0; background: #fff; }
.mce-prop	{ padding: 8px 18px; }
.mce-cap	{ padding: 0 20px; background: #fff; }
.mce-title	{ padding: 12px 0; width: 100%; border: 0; font-size: 16px; }

.bull		{ left: 0; right: 0; bottom: 0; padding: 16px 30px; border-top: 1px solid #333; background: #fff; position: fixed; z-index: 900; }
.bull-btn	{ margin: 0 0 0 30px; border: 1px solid #333; background: #fff; float: right; }
.stoR		{ right: 0; position: absolute; }
.stoB		{ bottom: 0; position: absolute; overflow-x: hidden; overflow-y: auto; }
.stoRB		{ right: 0; bottom: 0; position: absolute; overflow: auto; }
.stoRF		{ right: 0; bottom: 60px; position: absolute; overflow: auto; }

/* metro */
.tile			{ margin: 0 10px 10px 0; width: 150px; height: 150px; color: #fff; line-height: 150%; text-decoration: none; background: no-repeat center center; float: left; cursor: pointer; position: relative; overflow: hidden; /*IE6*/display: inline; }
.tile-badge		{ bottom: 0; right: 10px; padding: 2px 10px; font-size: 12px; font-weight: normal; position: absolute; }
.tile-label		{ bottom: 10px; left: 0px; padding: 4px 16px; font-size: 16px; position: absolute; }
.tile-text		{ padding: 0 0 16px 0; font-size: 12px; font-style: normal; display: block; }
.tile-content	{ padding: 20px;  line-height: 200%; }
.tile-cover		{ background-size: cover; }
.tile:hover		{ outline: #aaa solid 2px; color: #fff; }
.tile-small		{ width: 70px; height: 70px; }
.tile-large		{ width: 310px; height: 310px; }
.tile-wide		{ width: 310px; }
.tile-box-4s	{ width: 160px; height: 160px; float: left; }
.tile-box		{ width: 320px; height: 320px; float: left; }

.tag		{ margin: 0 2px; padding: 4px 6px; border-radius: 2px; color: #fff; background: #999; line-height: 100%; display: inline-block; }
.fg-white, .fg-white:hover	{ color: #fff; }
.fg-black, .fg-black:hover	{ color: #000; }
.bg-white	{ background-color: #ffffff; }
.bg-light	{ background-color: #f3f3f3; }
.bg-gray	{ background-color: #cbcbcb; }
.bg-black	{ background-color: #000000; }
.bg-dark	{ background-color: #333333; }
.bg-green	{ background-color: #60a917; }
.bg-emerald	{ background-color: #008a00; }
.bg-teal	{ background-color: #00aba9; }
.bg-blue	{ background-color: #00aff0; }
.bg-cyan	{ background-color: #0072C6; }
.bg-seablue	{ background-color: #16499a; }
.bg-voilet	{ background-color: #aa00ff; }
.bg-magenta	{ background-color: #d80073; }
.bg-red		{ background-color: #ce352c; }
.bg-crimson	{ background-color: #A20025; }
.bg-orange	{ background-color: #fa6800; }
.bg-amber	{ background-color: #f0a30a; }

/* usability */
[cmd]			{ -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; }
body			{ -webkit-tap-highlight-color: transparent; -webkit-overflow-scrolling: touch; -ms-overflow-style: -ms-autohiding-scrollbar; }
@-ms-viewport	{ width: device-width; }