@charset "utf-8";
.title_style {
	text-align:center;
}
.container_article{
    font-family:"MicroSoft Yahei";
    font-weight:400;
}

.plfr1{margin-top:10px;}
.plcode{border:1px solid #cbcbcb; width:150px; height:32px; box-sizing:border-box; padding:10px;}
.plfr1 img{height:40px; margin-left:10px;}
.plfr1 label{color:#f00; font-size:12px; margin-left:4px;}

.comments{margin-top:80px;}
.comments h3{color:#1f1f1f; font-size:24px; font-weight:normal; position:relative;}
.comments h3 span{color:#1f1f1f; font-size:14px; display:inline-block; position:absolute; right:0; bottom:0;}
.comments h3 span .count{color:#ef3838;}
.comments .comments-text{margin-top:20px; border:1px solid #cbcbcb; width:100%; height:130px; box-sizing:border-box; padding:10px;}


.comments-list{margin-top:60px;}
.comments-list h1{color:#1f1f1f; font-size:16px; font-weight:normal; border-bottom:2px solid #f0f0f0; line-height:30px; height:30px; margin-bottom:10px;}
.comments-list h1 span{display:inline-block; line-height:30px; border-bottom:2px solid #ef3838;}
.comments-item{padding-top:10px; border-bottom:1px dotted #c7c7c7;}
.comments-item .tx{float:left; height:100%; margin-right:10px;}
.comments-item .tx img{width:50px; height:50px; border-radius:100%; -moz-border-radius:100%; -o-border-radius:100%; -webkit-border-radius:100%;}
.comments-item .rig{padding-left:60px;}
.comments-item .rig .rig-top{padding-top:10px;}
.rig .rig-top a{color:#00a2ff; font-size:12px; margin-right:10px;}
.rig .rig-top em{color:#ccc; font-size:12px;}
.rig .rig-txt{color:#1f1f1f; font-size:14px; line-height:18px; margin-top:10px;}  
.rig .rig-bottom{margin:10px 0; color:#ccc; font-size:12px;}
.rig .rig-bottom a{color:#ccc; font-size:12px; margin-right:20px; padding-left:18px; position:relative; cursor:pointer; line-height:12px; display:inline-block;}
.rig .rig-bottom .comments-zan:before{content:""; position:absolute; left:0; bottom:0; width:12px; height:12px; background:url(../images/content_tubiao.png) -13px -274px no-repeat;}
.rig .rig-bottom .comments-hf:before{content:""; position:absolute; left:0; bottom:0; width:12px; height:12px; background:url(../images/content_tubiao.png) -13px -254px no-repeat;}
.rig .rig-bottom .reply-on{color:#00a2ff;}
.rig .rig-bottom a:hover{color:#00a2ff;}
.rig .reply{display:none; height:auto; padding:5px; margin-top:10px; border:1px solid #cbcbcb; overflow:hidden; margin-bottom:10px;}
.rig .reply .reply-text{ height:100px; width:100%; font-size:12px; outline:none; resize:none; border-bottom:1px solid #f0f0f0; margin-bottom:5px;}
.rig .reply .reply-btn{float:right; padding:3px 16px; background-color:#00a2ff; border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; cursor:pointer; color:#fff; font-size:14px; margin-right:5px; outline:none;}
.rig .reply .reply-btn:hover{background-color:#21aeff;}
.open-more{margin-top:40px; text-align:center;}
.open-more a{padding:5px 20px; border:1px solid #c7c7c7; font-size:12px; color:#333; display:inline-block;}
.open-more a:hover{border:1px solid #ef3838; color:#333;}
.comments-child{border-top:1px dotted #c7c7c7; border-bottom:none;}

.down{height:32px; line-height:32px; float:right;}
.down .userImg{width:30px; height:30px; border-radius:100%; -moz-border-radius:100%; -o-border-radius:100%; -webkit-border-radius:100%; margin-right:17px; float:left;}
.down span{color:#666666; font-size:15px;}
.down span a{color:#00a2ff;}
.down .submit-on{
    float: right;
    width: 90px;
    height: 36px;
    line-height: 36px;
    background: #00a8eb;
    color: #FFF;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    border-radius: 3px; }
.down .submit-on:hover { background: #14bdff; }

.file{  
	width: 1000px;
    margin:0 auto;
    padding: 50px 30px;
    font-size: 16px;
    line-height: 200%;
    overflow: hidden;
    background: #fff;
    text-align: justify;
    border: 1px solid #ddd;
   }
.view{
    width: 1000px;
    margin:0 auto;
}
.file_head{    padding: 20px 22px;
    background: #FFF;}
.file_head .content{
	border-bottom: #f00 3px solid; 
	text-align: center; 
	padding-bottom: 6px; 
	padding-left: 0px; 
	padding-right: 0px; 
	padding-top: 6px;
}
.file_head .title{
	text-align:center;
padding-bottom: 30px;
 padding-left: 0px; 
 padding-right: 0px; 
 font-family: 宋体; 
 color: #f00; 
 font-size: 38px; 
 font-weight: bold; 
padding-top: 30px;
}
.file_head .foot{
	text-align: center; 
line-height: 180%; 
font-family: 仿宋_GB2312, 仿宋; 
font-size: 18px;
}
.t2 { 
text-align: center; 
padding-bottom: 32px; 
line-height: 180%; 
padding-left: 0px; 
padding-right: 0px; 
font-family: 黑体; 
font-size: 26px; 
padding-top: 32px;
}
.file_foot{
	text-align: center; 
	background: url('http://my.hersp.com/ui/basic/smp_jp.gif') no-repeat center center; 
	float: right; 
	padding: 60px;
}
.mar{
	margin-bottom: 180px;
}
.title_topic{
	font-family: 黑体; 
    font-size: 26px;
}
.topic-item_T{width:100%; padding:20px 0; margin:20px 0; border-bottom:1px dotted #e3e3e3;}
.topic-item-img_T{float:left;}
.topic-item-img_T img{width:310px; height:100px; margin-right:20px;}
.topic-item-title_T{font-size:16px; color:#1a1a1a; font-weight:600;}
.topic-item-des_T{font-size:14px; color:#333333; line-height:20px; margin-top:10px;}	
.clearfix_T{padding: 10px;}
.clearfix_T:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0}
.content-inf{margin-top:14px; color:#9a9a9a; font-size:12px; font-family:"宋体";}
.content_w850{text-align: center;  }
.content_w850 h1{color:#1f1f1f; font-size:24px; font-weight:normal;}
.yhpl{margin-top:20px; margin-bottom:10px;}
.yhpl h1{color:#1f1f1f; font-size:16px; font-weight:normal;}
.comments-item{padding:10px 10px 0 15px; border-bottom:1px dotted #c7c7c7;}
.comments-item .tx{float:left; height:100%; margin-right:10px;}
.comments-item .tx img{width:50px; height:50px; border-radius:100%; -moz-border-radius:100%; -o-border-radius:100%; -webkit-border-radius:100%;}
.comments-item .rig{padding-left:60px;}
.comments-item .rig .rig-top{padding-top:10px;}
.rig .rig-top a{color:#00a2ff; font-size:12px; margin-right:10px;}
.rig .rig-top em{color:#ccc; font-size:12px;}
.rig .rig-txt{color:#1f1f1f; font-size:14px; line-height:18px; margin-top:10px;}  
.rig .rig-bottom{margin:10px 0; color:#ccc; font-size:12px;}
.rig .rig-bottom a{color:#ccc; font-size:12px; margin-right:20px; padding-left:18px; position:relative; cursor:pointer; line-height:12px; display:inline-block;}
.rig .rig-bottom .comments-zan:before{content:""; position:absolute; left:0; bottom:0; width:12px; height:12px; background:url(../images/content_tubiao.png) -13px -274px no-repeat;}
.rig .rig-bottom .comments-hf:before{content:""; position:absolute; left:0; bottom:0; width:12px; height:12px; background:url(../images/content_tubiao.png) -13px -254px no-repeat;}
.rig .rig-bottom .reply-on{color:#00a2ff;}
.rig .rig-bottom a:hover{color:#00a2ff;}
.rig .reply{display:none; height:auto; padding:5px; margin-top:10px; border:1px solid #cbcbcb; overflow:hidden; margin-bottom:10px;}
.rig .reply .reply-text{ height:100px; width:100%; font-size:12px; outline:none; resize:none; border-bottom:1px solid #f0f0f0; margin-bottom:5px;}
.rig .reply .reply-btn{float:right; padding:3px 16px; background-color:#00a2ff; border-radius:3px; -moz-border-radius:3px; -o-border-radius:3px; -webkit-border-radius:3px; cursor:pointer; color:#fff; font-size:14px; margin-right:5px; outline:none;}
.rig .reply .reply-btn:hover{background-color:#21aeff;}
.open-more{margin-top:40px; text-align:center;}
.open-more a{padding:5px 20px; border:1px solid #c7c7c7; font-size:12px; color:#333; display:inline-block;}
.open-more a:hover{border:1px solid #ef3838; color:#333;}
.comments-child{border-top:1px dotted #c7c7c7; border-bottom:none;}

.pagebar{text-align: center;margin: 15px auto 0px;font-size: 15px;}

.blog-con {
	width: 1000px;
	margin: 0 auto;
}

.blogLeft{float:left; border:1px solid #dedede; padding:34px 50px; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-top-right-radius:0; min-height:520px; position:relative;}

.blogHead{
	width:1000px;
	font-family: "Microsoft YaHei",Arial;
	line-height: 200%;
}
.blog-main{width:600px; float:left;font-size:16px;}
.memberRight{width:268px; height:268px; border:1px solid #dedede; border-left:none; border-radius:5px; -moz-border-radius:5px; -o-border-radius:5px; -webkit-border-radius:5px; border-top-left-radius:0; border-bottom-left-radius:0; right:0px; top:0; position:absolute; background:#fff; z-index:3; text-align:center;background-color: rgb(108, 142, 103);}
.memberImg{padding-top:25px;}
.memberImg img{width:145px; height:145px;}
.memberName{color:#999999; font-size:12px; margin-top:15px;}
.memberName span{color:#191919; font-size:15px;}
.on1{color:#ef3838;}
.on1:before{content:""; position:absolute; right:-9px; top:10px; width:4px; height:8px; display:inline-block; background:url(../images/member-nav.png) no-repeat;}

.column{color:#ef3838; font-size:16px; display:inline-block; position:relative;}
.column:hover{color:#1e1e1e;}

.blog_column{}
.blog_column label{float: inherit; margin-left:10px;color:red}
 
.gonggao{
	position: absolute;
    top:290px;
    left: 1140px;
    min-width: 190px;
    min-height: 150px;
    border: 1px solid #F00;
    font-size:16px;
    font-family: "Microsoft YaHei",Arial;
    padding:5px;
}

.blog_right{
	padding:35px;
	background:#ffffff;
	min-height: 600px;
}

.sub1 {
	position: absolute;
	top: 473px;
	left: 680px;
	width: 50px;
	height: 25px;
	background: #00a8eb;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	border-radius: 3px;
}

.sub1:hover {
    background: #14bdff;
}

.sub2 {
	width: 50px;
	height: 25px;
	background: #00a8eb;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	border-radius: 3px;
}

.sub2:hover {
    background: #14bdff;
}