/* view 01 */

#layout, #sbr	{ background-color: transparent; }
#sbr .vbr	{ margin: 0 0 6px 0; }
#header		{ padding: 60px 0 80px 0; color: #333; background: transparent; }
.qs			{ border-color: #666; }
.qs .q, .qs .placeholder	{ color: #666; }
.popDlg, .pad	{ border-color: #333; }

.blog-con		{ background: #684C1C url(01.jpg) no-repeat center top; }
a			{ color: #A56E00; }
#owner		{ color: #fff; }
.box, #sbr .vbr	{ border: 1px solid #8A795C; background: #E1DBD2; }
.box .cap		{ color: #744D00; background: #EECD87; }
