/* view 10 */
.blogBody{
	width:100%;
	background:#e1e1e1  url(11.jpg) no-repeat center top;
}
.header-top {background: #e1e1e1;border-bottom:0px;}
.footer_style {
	background: #e1e1e1; 
}
.blogHead,.tj{color: #465715;}
.tj{
	padding-bottom:80px;
}
#title1{
	color: #465715;
}

.user-center-left .user-menu-links, .personCenter-userInfo, .user-center-left .user-setting {
   background: #E7E7E7;
} 

.user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.user-menu-links li a em {
     background: transparent; 
}
.user-menu-links li.on a em {
   background: transparent; 
}
.user-menu-links li a {
	color: #666666;
}
.user-menu-links li a:hover {
	color:#0070b8;
}
#_goPs{
	background: transparent;
}
.tggl .tggl-top {background: transparent;}
body, button, input, select, textarea { background: transparent;}
.tggl a {color:#666666;}
.a2{color:#666666;}
.inp2{color:#666666;}
.tggl td{border-color:#666666;}
.tggl table{border-color:#666666;}
.tggl-top{background:transparent;}
.st_tree ul li a:hover {color:#0070b8;}