/* view 10 */
.blogBody{
	width:100%;
	background:#000202  url(15.jpg) no-repeat center top;
}
.header-top {background: #efefef;border-bottom:0px;color:#000 !important;}
.footer_styles {
	background: #000202; 
}
.footer_style {
	background: #000202 !important; 
}
.blogHead,.tj{color: #fff;}
/* .tj{
	padding-bottom:80px;
} */
#ftitle1{
	color: #fff;
}
.cap{
    color: #fff;
    background: #333;
}
.blogBody .user-center-left .user-menu-links, .blogBody .personCenter-userInfo, .blogBody .user-center-left .user-setting {
   background: #111111;
} 

.blogBody .user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.blogBody .user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.blogBody .user-menu-links li a em {
     background: transparent; 
}
.blogBody .user-menu-links li.on a em {
   background: transparent; 
}
.blogBody .user-menu-links li a {
	color: #666666;
}
.blogBody .user-menu-links li a:hover {
	color:#0070b8;
}
#_goPs{
	background: transparent;
}
.tggl .tggl-top {background: transparent;}
body, button, input, select, textarea { background: transparent;}
.tggl a {color:#666666;}
.a2{color:#666666;}
.inp2{color:#666666;}
.tggl td{border-color:#808080;}
.tggl table{border-color:#808080;}
.tggl-top{background:transparent;}
.st_tree ul li a:hover {color:#0070b8;}
.htmleaf-container .mtree-demo .mtree {
  background: #111111;
  margin: 20px auto;
  max-width: 320px;
  border-radius: 3px;
}	
.udl ul li:hover ul li a {
    background: #333 !important;
    color: #fff !important;
}
.udl ul li:hover a {
    color: #fff !important;
    background: #333 !important;
}   
.udl ul li a, .menu ul li a:visited{
	color: #fff !important;
    background: #333 !important;
}
.udl ul li:hover ul li a:hover {
    background: #666 !important;
}
#queryTitle{
	  border:1px solid #333 !important;
	  color: #fff !important;
}
.submit{
	background:#333 !important;
	color: #fff !important;
} 
.report-list2 li a .report-text h3{
	color:#ece8ae;
}
.topicList a{
	color: #ece8ae !important;
}
.topicList {
    color: #b7b7b7 !important;
}
ul.mtree.bubba > li.mtree-open > a {
    background: #333 !important;
}
ul.mtree.bubba li.mtree-active > a {
    background: #333 !important; 
}
.htmleaf-container a {
    color: #b1b1b1 !important;
}
.ff{
	color: #b1b1b1 !important;
}
.user-name-dt a {
    color: #999999 !important;
}
.links-wrap h3 {
    background: #333333 !important;
    color: #fff !important;
}
a{
	color:#d6c2c2 !important;
}
body, button, input, select, textarea {
    color: #d6c2c2 !important;}
    
.header-right a{
	color:#000 !important;
}
.wrap-right .gray9 {
    color: #d6c2c2 !important;
}
.content-share{
	color: #d6c2c2 !important;
}
.pos{
	color: #d6c2c2 !important;
}