/* view 16 */
.blogBody{
	width:100%;
	background:#1E1F47  url(16.jpg) no-repeat center top;
}

.notice .notice-content{ background: #D2D2DA ; color: black;}
.synopsis .synopsis-content{background: #D2D2DA ; color: black;}
 

.header-top {background: #efefef;border-bottom:0px;}
.footer_styles {
	background: #1E1F47 !important; 
}
.footer_style {
	background: #1E1F47 !important; 
}

.blogHead,.tj{color: #fff;}
/* .tj{
	padding-bottom:100px;
} */
#ftitle1{
	color: #fff;
}
.cap{
    color: #fff;
    background: #B3BDE1;
}

.blogBody .user-center-left .user-menu-links, .blogBody .personCenter-userInfo, .blogBody .user-center-left .user-setting {
   background: #D2D2DA;
} 

.blogBody .user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.blogBody .user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.blogBody .user-menu-links li a em {
     background: transparent; 
}
.blogBody .user-menu-links li.on a em {
   background: transparent; 
}
.blogBody .user-menu-links li a {
	color: #666666;
}
.blogBody .user-menu-links li a:hover {
	color:#0070b8;
}
#_goPs{
	background: transparent;
}
.tggl .tggl-top {background: transparent;}
body, button, input, select, textarea { background: transparent;}
.tggl a {color:#666666;}
.a2{color:#666666;}
.inp2{color:#666666;}
.tggl td{border-color:#e7e7e7;}
.tggl table{border-color:#e7e7e7;}
.tggl-top{background:transparent;}
.st_tree ul li a:hover {color:#0070b8;}
.htmleaf-container .mtree-demo .mtree {
  background: #D2D2DA;
  margin: 20px auto;
  max-width: 320px;
  border-radius: 3px;
}	
.udl ul li:hover ul li a {
    background: #B3BDE1 !important;
    color: #fff !important;
}
.udl ul li:hover a {
    color: #fff !important;
    background: #B3BDE1 !important;
}   
.udl ul li a, .menu ul li a:visited{
	color: #fff !important;
    background: #B3BDE1 !important;
}
.udl ul li:hover ul li a:hover {
    background: #666 !important;
}
#queryTitle{
	  border:1px solid #B3BDE1 !important;
	  color: #fff !important;
}
.submit{
	background:#B3BDE1 !important;
	color: #fff !important;
} 
.report-list2 li a .report-text h3{
	color:#1d1f46;
}
.topicList a{
	color: #1d1f46 !important;
}
.f2{
	color:#676262 !important;
}
ul.mtree.bubba > li.mtree-open > a {
    background: #B3BDE1 !important;
}
ul.mtree.bubba li.mtree-active > a {
    background: #B3BDE1 !important; 
}
