/* view 02 */


 .user-center-left .user-menu-links, .personCenter-userInfo, .user-center-left .user-setting {
    background: #222222;
}  
.blogHead,.tj{color: #c5c9ce;}
.tggl a {color:#666666;}
.tj{padding-bottom:40px;}
.tggl-top{background:transparent;}
.a2{color:#666666;}
.inp2{color:#666666;}
.tggl td{border-color:#333333;}
.tggl table{border-color:#333333;}

a:link{color:#666666;}

.blogBody{
	width:100%;
	background: #000  url(02.gif); 
}
#title1{color: #c5c9ce;}
.header-top {background: #000;border-bottom:0px;}
.footer_style {background-image: url(02.gif); }

 .user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.user-menu-links li a em {background: transparent; }
.user-menu-links li.on a em {background: transparent; }
.user-menu-links li a {color: #666666;}
.user-menu-links li a:hover {color:#0070b8;}

#_goPs{background: transparent;}

.tggl .tggl-top {background: transparent;}

body, button, input, select, textarea {background: transparent;}
.st_tree ul li a:hover {color:#0070b8;}
	
	