/* view 02 */

.blogBody .user-center-left .user-menu-links, .blogBody .personCenter-userInfo, .blogBody .user-center-left .user-setting {
    background: #222222;
    color: #666666;
}  
.blogHead,.tj{color: #c5c9ce;}
.tggl a {color:#666666;}
.tj{padding-bottom:40px;}
.tggl-top{background:transparent;}
.a2{color:#666666;}
.inp2{color:#666666;}
.tggl td{border-color:#333333;}
.tggl table{border-color:#333333;}

a:link{color:#666666;}

.blogBody{
	width:100%;
	background: #000  url(02.gif); 
}
#title1{color: #c5c9ce;}
.header-top {background: #000;border-bottom:0px;}
.footer_styles {background-image: url(02.gif); }

.blogBody .user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.blogBody .user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.blogBody .user-menu-links li a em {background: transparent; }
.blogBody .user-menu-links li.on a em {background: transparent; }
.blogBody .user-menu-links li a {color: #666666;}
.blogBody .user-menu-links li a:hover {color:#0070b8;}

#_goPs{background: transparent;}

.tggl .tggl-top {background: transparent;}

body, button, input, select, textarea {background: transparent;}
.st_tree ul li a:hover {color:#0070b8;}

.comments h3 {color:#FFFFFF;}

.xueke-content-detail p  ,.comments-list h1 ,.xueke-acticle h2 {color: #666666;}

.comments .comments-text{
	color: #666666;
	border: 1px solid #666666;
}

.plcode ,.rig .reply,.rig .reply .reply-text {
	color: #666666;
border: 1px solid #666666;}

