.blogBody{
	width:100%;
	background: #C0C0C0; 
}
.user-center-left .user-menu-links, .personCenter-userInfo, .user-center-left .user-setting {
    background: #A9A9A9;
}

.header-top {background: #A9A9A9;border-bottom:0px;}
.footer_styles {background: #A9A9A9; }

 .user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.user-center-left .user-menu-links a {
    border: none; 
    text-decoration:none;
}
.cap{
    color: #fff;
    background: #999999;
}
.user-menu-links li a em {background: transparent; }
.user-menu-links li.on a em {background: transparent; }

.tggl .tggl-top {background: transparent;color:black;}
.tggl td{border-color:#C6C6C6;}
.tggl table{border-color:#C6C6C6;}

body, button, input, select, textarea {background: transparent;}
.st_tree ul li a:hover {color:#0070b8;}

#_goPs{
	background: transparent;
}
.htmleaf-container .mtree-demo .mtree {
  background: #A9A9A9;
  margin: 20px auto;
  max-width: 320px;
  border-radius: 3px;
}
.personCenter-userInfo .tggl li  em{
	color: #666 !important;
}	