/* view 10 */
.blogBody{
	width:100%;
	background:#10b5b9  url(22.jpg) no-repeat center top;
}
.header-top {background: #efefef;border-bottom:0px;}
.footer_styles {
	background: #10b5b9 !important; 
}
.footer_style {
	background: #10b5b9 !important; 
}
.blogHead,.tj{color: #000;}
/* .tj{
	padding-bottom:80px;
} */
#ftitle1{
	color: #000;
}
.cap{
    color: #fff;
    background: #35c0c5;
}

.blogBody .user-center-left .user-menu-links, .blogBody .personCenter-userInfo, .blogBody .user-center-left .user-setting {
   background: #f1fcff;
} 

.blogBody .user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.blogBody .user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.blogBody .user-menu-links li a em {
     background: transparent; 
}
.blogBody .user-menu-links li.on a em {
   background: transparent; 
}
.blogBody .user-menu-links li a {
	color: #666666;
}
.blogBody .user-menu-links li a:hover {
	color:#0070b8;
}
#_goPs{
	background: transparent;
}
.tggl .tggl-top {background: transparent;}
body, button, input, select, textarea { background: transparent;}
.tggl a {color:#666666;}
.a2{color:#666666;}
.inp2{color:#666666;}
.tggl td{border-color:#666666;}
.tggl table{border-color:#666666;}
.tggl-top{background:transparent;}
.st_tree ul li a:hover {color:#0070b8;}
.htmleaf-container .mtree-demo .mtree {
  background: #f1fcff;
  margin: 20px auto;
  max-width: 320px;
  border-radius: 3px;
}	
.report-list2 li a .report-text h3{
	color:#1b1d8a;
}
.topicList a {
    color: #1b1d8a !important;}
#queryTitle{
	  border:1px solid #60d6da !important;
	  color: #fff !important;
}
.submit{
	background:#35c0c5 !important;
	color: #000 !important;
} 
.f2{
	color:#676262 !important;
}
