/* view 03 */

#layout, #sbr	{ background-color: transparent; }
#sbr .vbr	{ margin: 0 0 6px 0; }
#header		{ padding: 60px 0 80px 0; color: #333; background: transparent; }
.qs			{ border-color: #666; }
.qs .q, .qs .placeholder	{ color: #666; }
.popDlg, .pad	{ border-color: #333; }

a			{ color: #074387; }
#owner		{ color: #fff; }
.box, #sbr .vbr	{ border: 1px solid #919BA2; background: #EBF0F4; }
.box .cap		{ color: #3A3A3A; background: #D2DCE4; }

.blogBody{
	width:100%;
	background: #250f11 url(03.jpg) no-repeat center top;
}

.footer_style {
	background : #250f11; 
}
.blogHead,.tj{color: #666666;}
.tj{
	padding-bottom:80px;
}
#title1{
	color: #666666;
}

.user-center-left .user-menu-links, .personCenter-userInfo, .user-center-left .user-setting {
   background: #311411;
} 

.user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.user-menu-links li a em {
     background: transparent; 
}
.user-menu-links li.on a em {
   background: transparent; 
}
.user-menu-links li a {
	color: #666666;
}
.user-menu-links li a:hover {
	color:#0070b8;
}
#_goPs{
	background: transparent;
}
body, button, input, select, textarea {
	 background: transparent;
	}
