.blogBody{
	width:100%;
	background: #e3ebf0 url(07.jpg) no-repeat center top;
}

.footer_style {
	background : #e3ebf0; 
}
.blogHead,.tj{color: #808080;}

#title1{
	color: #808080;
}
.tj{
	padding-bottom:70px;
}
.user-center-left .user-menu-links, .personCenter-userInfo, .user-center-left .user-setting {
   background: #e7e7e7;
} 

td {border: 1px solid #fff;}

.user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.user-menu-links li a em {
     background: transparent; 
}
.user-menu-links li.on a em {
   background: transparent; 
}
.user-menu-links li a {
	color: #666666;
}
.user-menu-links li a:hover {
	color:#0070b8;
}
#_goPs{
	background: transparent;
}
.inp1{border-color:transparent;}
.tggl .tggl-top {background: transparent;}
body, button, input, select, textarea { background: transparent;}
.tggl a {color:#666666;}
.a2{color:#666666;}
.inp2{color:#666666;}
.tggl td{border-color:#808080;}
.tggl table{border-color:#808080;}
.tggl-top{background:transparent;}
	