.blogBody{
	width:100%;
	background: #e3ebf0 url(07.jpg) no-repeat center top;
}
.header-top {background: #e3ebf0;border-bottom:0px;}
.footer_styles {
	background : #e3ebf0; 
}
.blogHead,.tj{color: #808080;}
.cap{
    color: #fff;
    background: #8b9db5;
}
#title1{
	color: #808080;
}
/* .tj{
	padding-bottom:70px;
} */
.blogBody .user-center-left .user-menu-links, .blogBody .personCenter-userInfo, .blogBody .user-center-left .user-setting {
   background: #e7e7e7;
} 

td {border: 1px solid #fff;}

.blogBody .user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.blogBody .user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.blogBody .user-menu-links li a em {
     background: transparent; 
}
.blogBody .user-menu-links li.on a em {
   background: transparent; 
}
.blogBody .user-menu-links li a {
	color: #666666;
}
.blogBody .user-menu-links li a:hover {
	color:#0070b8;
}
#_goPs{
	background: transparent;
}
.inp1{border-color:transparent;}
.tggl .tggl-top {background: transparent;}
body, button, input, select, textarea { background: transparent;}
.tggl a {color:#666666;}
.a2{color:#666666;}
.inp2{color:#666666;}
.tggl td{border-color:#808080;}
.tggl table{border-color:#808080;}
.tggl-top{background:transparent;}
.st_tree ul li a:hover {color:#0070b8;}
.htmleaf-container .mtree-demo .mtree {
  background: #e7e7e7;
  margin: 20px auto;
  max-width: 320px;
  border-radius: 3px;
}	