.blogBody{
	width:100%;
	background: #000 url(08.jpg) no-repeat center top;
}
.header-top {background: #000;border-bottom:0px;}
.footer_style {
	background : #000; 
}
.blogHead,.tj{color: #808080;}

#title1{
	color: #808080;
}
.tj{
	padding-bottom:90px;
}
.user-center-left .user-menu-links, .personCenter-userInfo, .user-center-left .user-setting {
   background: #333333;
} 

td {border: 1px solid #fff;}

.user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.user-menu-links li a em {
     background: transparent; 
}
.user-menu-links li.on a em {
   background: transparent; 
}
.user-menu-links li a {
	color: #666666;
}
a:link {
    color: white;
}
.user-menu-links li a:hover {
	color:#0070b8;
}
#_goPs{
	background: transparent;
}
.inp1{border-color:transparent;}
.tggl .tggl-top {background: transparent;}
body, button, input, select, textarea {
	color:#666666;
	 background: transparent;
	}
.st_tree ul li a:hover {color:#0070b8;}
	