.blogBody{
	width:100%;
	background: #000 url(08.jpg) no-repeat center top;
}

.notice .notice-content{ background: #333333 ; color: #ece8ae;}
.synopsis .synopsis-content{background: #333333 ; color: #ece8ae;}
 

.header-top {background: #efefef;border-bottom:0px;}
a:link {
    color: #000 !important;
}
.footer_styles {
	background : #000 !important; 
}
.footer_style {
	background : #000 !important; 
}
.blogHead,.tj{color: #808080;}

#ftitle1{
	color: #808080;
}
.cap{
    color: #fff;
    background: #171414;
}

/* .tj{
	padding-bottom:90px;
} */
.blogBody .user-center-left .user-menu-links, .blogBody .personCenter-userInfo, .blogBody .user-center-left .user-setting {
   background: #333333;
} 

td {border: 1px solid #fff;}

.blogBody .user-center-left .user-menu-links li{
	margin-top:-1px;
	border-bottom: none; 
}
.blogBody .user-center-left .user-menu-links a {
    border : none; 
    text-decoration:none;
}
.blogBody .user-menu-links li a em {
     background: transparent; 
}
.blogBody .user-menu-links li.on a em {
   background: transparent; 
}
.blogBody .user-menu-links li a {
	color: #666666;
}
a:link {
    color: #c0c0c0 !important ;
}
.blogBody .user-menu-links li a:hover {
	color:#0070b8;
}
#_goPs{
	background: transparent;
}
.inp1{border-color:transparent;}
.tggl .tggl-top {background: transparent;}
body, button, input, select, textarea {
	color:#666666;
	 background: transparent;
	}
.st_tree ul li a:hover {color:#0070b8;}
.htmleaf-container .mtree-demo .mtree {
  background: #333333;
  margin: 20px auto;
  max-width: 320px;
  border-radius: 3px;
}		

#queryTitle{
	  border:1px solid #171414 !important;
	  color: #fff !important;
}
.submit{
	background:#171414 !important;
	color: #fff !important;
} 
ul.mtree.bubba > li.mtree-open > a {
    background: #171414 !important;
}
ul.mtree.bubba li.mtree-active > a {
    background: #666666 !important; 
}
.udl ul li:hover ul li a {
    background: #171414 !important;
    color: #fff !important;
}
.udl ul li:hover a {
    color: #fff !important;
    background: #171414 !important;
}   
.udl ul li a, .menu ul li a:visited{
	color: #fff !important;
    background: #171414 !important;
}
.udl ul li:hover ul li a:hover {
    background: #666 !important;
}
.htmleaf-container a {
    color: #b7b7b7 !important;
    }
.report-list2 li a .report-text h3{
	color:#ece8ae ;
}
.fbgj .member-change {
     color: #999999 !important;
}
.fbgj .tggl-top {
    color: #c7c7c7 !important;
}
.topicList a{
	color: #ece8ae !important;
}
.topicList {
    color: #b7b7b7 !important;
}
body, button, input, select, textarea {
    color: #c0c0c0 !important;
}
.links-wrap h3 {
    background: #171414 !important;
    color: #c6c6c6 !important;
}
.user-name-dt a{
	color:white !important;
}
.wrap-right .gray9 {
    color: #c0c0c0 !important;
}
.content-share{
	color: #c0c0c0 !important;
}
.pos{
	color: #c0c0c0 !important;
}
