/* fulgor 01 */

#layout, #sbr	{ background-color: transparent; }
#sbr .vbr	{ margin: 0 0 6px 0; }
#header		{ padding: 60px 0 80px 0; color: #333; background: transparent; }
.qs			{ border-color: #666; }
.qs .q, .qs .placeholder	{ color: #666; }
.popDlg, .pad	{ border-color: #333; }

.blog-con		{ color: #464646; background: #bcd3e5 url(01.jpg) no-repeat center top; }
a			{ color: #3e73a0; }
#owner		{ color: #fff; }
.box, #sbr .vbr	{ border: 1px solid #A0B5C8; background: #fff; }
.box .cap		{ color: #49687f; background: #E4EBF2; }
