/* green */

.blog-con		{ background: #fff url(Green.jpg) fixed repeat-y center top; }
#header		{ color: #fff; background: #6D844A; border-bottom: 4px solid #D8D5A9; }
.popDlg, .pad	{ border-color: #6D844A; }

#sbr, .vbr b, .vbr .a	{ background-color: #DEDBAE; }
.box .cap,
.commentView .btn:hover, .vbr b:hover, .vbr b.active, .vbr .a:hover, .vbr .a.active	{ background-color: #6F874D; color: #fff; }

.menu a.active, .menu span.active, .cascade h3.active	{ background-color: #9FB780; }
.menu a:hover, .menu span:hover		{ background-color: #B8C99E; }
