/* sky */
.blog-con		{ background: #C9D0D6; }
#layout		{ background: #fff; }
#header		{ color: #fff; background: #0072C6; }
.box .cap	{ color: #fff; background: #0072C6; }
.pad		{ border-color: #0072C6; }